<h2>Follow Me</h2>
<%= link_to (image_tag "face.gif", :class => 'icon_facebook'), 'http://facebook.com' %>
<%= link_to (image_tag "in.gif", :class => 'icon_in'), 'http://linkedin.com' %>
<%= link_to (image_tag "f.gif", :class => 'icon_in'), 'http://twitter.com' %>
