<div class="middle_right_frame1">
  <h1>Hello</h1>
  <p class="middle_right_frame1_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper justo et ante sagittis dictum. Curabitur a purus ac turpis ullamcorper rhoncus sollicitudin in nibh. Vestibulum in nisi id risus dapibus ullamcorper. Pellentesque imperdiet condimentum urna, non rutrum ligula feugiat et. Fusce ut nibh erat, elementum ornare ipsum. Suspendisse et tortor augue, id elementum purus. Aliquam ac sem velit. Cum sociis natoque penatibus et magnis dis parturient montes, 				</p>
  <p class="middle_right_frame1_content2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper justo et ante sagittis dictum. Curabitur a purus ac turpis ullamcorper rhoncus sollicitudin in nibh. Vestibulum in nisi id risus dapibus ullamcorper.Pellentesque imperdiet condimentum urna, non rutrum ligula feugiat et. Fusce ut nibh erat, elementum ornare ipsum. Suspendisse et tortor augue, id elementum purus. Aliquam ac sem velit. Cum sociis natoque penatibus et magnis dis parturient montes, 
  </p>
  <p class="middle_right_frame1_content2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper justo et ante sagittis dictum. Curabitur a purus ac turpis ullamcorper rhoncus sollicitudin in nibh. Vestibulum in nisi id risus dapibus Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper justo et ante sagittis dictum. Curabitur a purus ac turpis ullamcorper rhoncus sollicitudin in nibh. Vestibulum in nisi id risus dapibus ullamcorper. Pellentesque imperdiet condimentum urna, non rutrum ligula feugiat et. 
  </p>
</div>
<div class="middle_right_frame2">
  <div class="rightimage"></div>
  <p class="middle_right_frame2_content">sample texts</p>
  <div class="middle_right_frame2_icon">
    <%= render "shared/follow" %>
  </div>
</div>