<div class="middle_right_frame1">
  <h1>Contact Us</h1>
  <form action="" method="">
    <p class="middle_right_frame1_content">Email</p>
    <input type="text" value="abc@gmail.com" class="contactUs_formtext" />
    <p class="middle_right_frame1_content">Subject</p>
    <input type="text" value="Issue" class="contactUs_formtext" />
    <p class="middle_right_frame1_content">Discription</p>
    <input type="text" value="" class="contactUs_formtext_dis" />
    <input type="button" value="" class="contactUs_formtext_btn" />
  </form>
</div>
<div class="middle_right_frame2">
  <div class="rightimage"></div>
  <div class="middle_right_frame2_content">
    <p class="middle_right_frame2_content"><b>Prabhat Thapa</b></p>
    <p class="middle_right_frame2_content">text</p>
    <p class="middle_right_frame2_content">134646464564564</p>
    <p class="middle_right_frame2_content">Prabhat.thapa@gmail.com</p>
  </div>
  <div class="middle_right_frame2_icon">
    <%= render "shared/follow" %>
  </div>
</div>